$primaryBackColor1: #0540F2;
$primaryBackColor2: #165FF2;
$secondaryBackColor1: #3574F2;
$secondaryBackColor2: #168BF2;
$secondaryBackColor3: #F2F2F2;

// Window Border Colors
$winBorderColor1: #0540F2;
$winBorderColor2: #FFFFFF;
$winBorderColor3: #165FF2;

// Color Palette
$ValidationColorBorder: #D63301;
$ValidationColorBackground: #FFCCBA;
$ValidationColorText: #D63301;
$ErrorColorBorder: #D8000C;
$ErrorColorBackground: #FFBABA;
$ErrorColorText: #D8000C;
$WarningColorBorder: #9F6000;
$WarningColorBackground: #FEEFB3;
$WarningColorText: #9F6000;
$SuccessColorBorder: #4F8A10;
$SuccessColorBackground: #DFF2BF;
$SuccessColorText: #4F8A10;
$InfoColorBorder: #00529B;
$InfoColorBackground: #BDE5F8;
$InfoColorText: #00529B;
$ListBorder: #828790;

$mainColor: #0540F2;
$mainColor2: #165FF2;
$secondColor: #FFFFFF;
$secondColor2: #3574F2;
$secondColor3: #168BF2;
$secondColor4: #F2F2F2;

// Button Colors
$ButtonForegroundColor: #0540F2;
$ButtonBackgroundColor: #eeeeee;
$ButtonBackgroundColorHover: #0540F2;
$ButtonForegroundColorHover: #FeFeFe;

// Icon Colors
$IconForegroundColor: #0540F2;
$IconBackrgoundColor: #FFFFFF;

// Font Colors
$titleColor1: #E0E1F1;
$titleColor2: #D5CFF5;
$titleColor3: #FFFFFF;
$plainTextColor1: #DDDDDD;
$plainTextColor2: #353535;
$plainTextColor3: #ffffff;

$panelColor: #200F53;
$panelOverColor: #0540F2;
$panelActiveColor: #ffffff;