.custom-input-node {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 10px;
    min-width: 150px;
    text-align: center;
    position: relative;
    cursor: pointer;

    .custom-input-toolbar {
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;

        button {
            padding: 5px;
            background-color: #0540F2;
            color: white;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

        button:hover {
            background-color: #165FF2;
        }
    }

    .custom-input-remove {
        position: absolute;
        top: 5px;
        right: 5px;
        background: none;
        border: none;
        font-size: 16px;
        cursor: pointer;
        color: #ff0000;
    }

    .custom-input-remove:hover {
        color: #ff6666;
    }
}