// src/styles/LanguageSwitcher.scss
.language-switcher {
    .language-select {
      width: 150px;
  
      .react-select__control {
        background-color: #555;
        border: none;
        border-radius: 4px;
        color: #fff;
      }
  
      .react-select__menu {
        background-color: #333;
        color: #fff;
      }
  
      .react-select__option {
        &:hover {
          background-color: #444;
        }
      }
  
      .react-select__single-value {
        display: flex;
        align-items: center;
  
        .flag {
          margin-right: 8px;
        }
      }
  
      .react-select__option {
        display: flex;
        align-items: center;
  
        .flag {
          margin-right: 8px;
        }
      }
    }
  }
  